.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -16px;

  .close-button {
    color: #555;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1px var(--brand-border);
  --mdc-filled-text-field-container-color:#faf5ff;

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
}

.full-width {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.error-text {
  font-size: 0.85rem;
  color: #d32f2f;
  background-color: #fbe9e7;
  padding: 8px 12px;
  margin-top: 12px;
  border-radius: 4px;
  border-left: 4px solid #d32f2f;
}

.preview-label-titel {
  color: #5e5b5b;
  font-size: 16px;
  margin-top: 30px;
  padding: 5px;
}

.preview-label {
  font-size: 0.75rem;
  color: #888;
  margin: 0.25rem 0 0;
}

.frage-text {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.preview-box {
  background-color: #f1f1f1;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #acaaaa;
  overflow: visible;
  padding-bottom: 16px;

}


.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  color: #8133ae;

}

.skala-slider {
  flex: 1;
  color: #8133ae;
  background: #8133ae;
}

.slider-value {
  font-weight: bold;
  min-width: 32px;


}
.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  outline: none;
  background: #c0c0c0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #8133ae;
    cursor: pointer;
    border: none;
    margin-top: -2px;
  }

  &::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #8133ae;
    cursor: pointer;
    border: none;
  }
}
.slider-bubble {
  position: absolute;
  top: 0;
  transform: translate(-50%, -140%);
  background: #8133ae;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    border: 4px solid transparent;
    border-top-color: #333;
  }
}






