@use '../../../../styles/_modal-formfield' as *;

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;

  .close-button {
    color: #666;
    transition: color .2s;
    &:hover { color: #000; }
  }
}

/* Modal Container  */
.modal-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: min(92vw, 550px);
  margin: 20px auto;
  max-height: 75vh;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: inset 0 0 0 1px var(--brand-border);
}

h2 {
  margin: 0 0 6px;
  font-size: 22px;
  font-weight: 700;
}

.full-width { width: 100%; }

/*  Vorschau  */
.preview-label-titel {
  font-weight: 600;
  font-size: 14px;
  margin: 12px 0 8px;
  color: #555;
}

.preview-box {
  margin-top: .5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--brand-border);
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.preview-label {
  font-size: .8rem;
  color: #999;
  margin-bottom: 2px;
}

.preview-text {
  font-size: .9rem;
  color: #777676;
  font-weight: 500;
  margin-bottom: 8px;
}

/*  Disabled Textarea in Preview */
.preview-box textarea[disabled] {
  background-color: #f5f5f5;
  color: #888;
  font-style: italic;
  font-size: 0.9rem;
  border: 1px dashed #ccc;
  padding: 8px;
  width: 100%;
  resize: none;
  min-height: 80px;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 6px;
}

/* Aktionen */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}
