<!-- Drag & Drop Bereich -->
<div class="builder-container">
  <div class="question-palette">

    <h3>Fragetypen</h3>
    <div
      cdkDropList
      #paletteList="cdkDropList"
      [cdkDropListData]="questionTypes"
      [cdkDropListConnectedTo]="[canvasList]"
      class="palette"
      cdkDropListSortingDisabled
    >
      <div
        *ngFor="let question of questionTypes"
        cdkDrag
        [cdkDragData]="question"
        class="question-item"
      >
        {{ question.label }}
      </div>
      <!-- Datumsauswahl -->
      <div class="date-selection">
        <mat-form-field>
          <input matInput
                 [matDatepicker]="startPicker"
                 [(ngModel)]="startDate"
                 [min]="startMin"
                 placeholder="Startdatum *"
                 required
                 (dateChange)="onStartChange()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 [matDatepicker]="endPicker"
                 [(ngModel)]="endDate"
                 [min]="endMin"
                 placeholder="Enddatum *"
                 required>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Umfrage-Titel -->
      <mat-form-field appearance="fill">
        <mat-label>Umfragetitel <span class="required">*</span></mat-label>
        <input
          matInput
          [(ngModel)]="surveyTitle"
          (blur)="titleTouched = true"
          placeholder="Titel eingeben"
        />
      </mat-form-field>

      <!-- Fehlermeldung -->
      <div
        *ngIf="titleTouched && !surveyTitle"
        class="error-message"
      ><mat-icon>info</mat-icon>
        Bitte einen Titel für die Umfrage eingeben.
      </div>

    </div>
  </div>

  <div class="survey-canvas">
    <h3>Umfrage Canvas</h3>
    <div
      cdkDropList
      #canvasList="cdkDropList"
      [cdkDropListData]="canvasQuestions"
      [cdkDropListConnectedTo]="[paletteList]"
      class="canvas"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="empty-state" *ngIf="!canvasQuestions?.length">
        <span>Mindestens eine Frage hinzufügen, um zu veröffentlichen.</span>
      </div>
      <div
        *ngFor="let question of canvasQuestions; let i = index"
        cdkDrag
        class="canvas-item"
      >
        <span>{{ question.title }}</span>
        <div class="icon-group">
          <button mat-icon-button (click)="editQuestion(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removeQuestion(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Survey Publish -->
<app-survey-publish
  [surveyTitle]="surveyTitle"
  [startDate]="startDate"
  [endDate]="endDate"
  [canvasQuestions]="canvasQuestions"
></app-survey-publish>
