<div class="card" *ngIf="survey; else loading">
  <!-- Titel und Beschreibung der Umfrage -->
  <h2>Analyse – {{ survey.title }}</h2>
  <p *ngIf="survey.description">{{ survey.description }}</p>

  <!-- Meta-Daten der Umfrage -->
  <div class="meta">
    <span><strong>Status:</strong> {{ survey.status }}</span>
    <span><strong>Start:</strong> {{ survey.startAt | date:'dd.MM.yyyy' }}</span>
    <span><strong>Ende:</strong> {{ survey.endAt | date:'dd.MM.yyyy' }}</span>
    <span><strong>Anzahl Antworten:</strong> {{ answers.length }}</span>

    <button class="export-btn" (click)="exportToExcel()">Excel Export</button>
  </div>

  <!-- Charts für jede Frage -->
  <div class="charts-grid">
    <ng-container *ngFor="let q of questions">
      <div class="chart-card"
           [ngClass]="{ 'wide': q.type === 'slider' || q.type === 'star' || q.type === 'radio'|| q.type === 'freitext' }">

        <!-- Multiple Choice Diagramm -->
        <app-multiple-chart
          *ngIf="q.type === 'multiple'"
          [surveyId]="survey.id!"
          [question]="q"
          [answers]="answers"
         >
        </app-multiple-chart>

        <!-- Skala (Slider) -->
        <app-skala-chart
          *ngIf="q.type === 'slider'"
          [surveyId]="survey.id!"
          [question]="q"
          [answers]="answers"
       >
        </app-skala-chart>

        <!-- Radio Button Diagramm -->
        <app-radio-button-chart
          *ngIf="q.type === 'radio'"
          [surveyId]="survey.id!"
          [question]="q"
          [answers]="answers"
        >
        </app-radio-button-chart>

        <!-- Sterne-Bewertung -->
        <app-star-rating-chart
          *ngIf="q.type === 'star'"
          [surveyId]="survey.id!"
          [question]="q"
          [answers]="answers"
          >
        </app-star-rating-chart>

        <!-- Freitext Antworten -->
        <app-freitext-list
          *ngIf="q.type === 'freitext'"
          [surveyId]="survey.id!"
          [question]="q"
          [answers]="freitextAnswersMap[q.id] || []"
          (click)="openChartDialog(q)">
        </app-freitext-list>
      </div>
    </ng-container>
  </div>
</div>

<!-- Ladezustand -->
<ng-template #loading>
  <div class="card">
    <p>Lade Daten...</p>
  </div>
</ng-template>
